body {
  text-align: center;
  margin: 0%;
  font-family: Montserrat;
  background-image: url("images/bg-top.svg"), url("images/bg-bottom.svg");
  background-position: right, left bottom;
  background-repeat: no-repeat;
  /* background-size: cover; */
}

.header-plans-container {
  display: flex;
  justify-content: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
  /* padding: 1em; */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #368bd6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #368bd6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  border-radius: 32px;
}

.slider:before {
  border-radius: 50%;
}

.header {
  margin: 3em;
  color: hsl(232, 18%, 54%);
}

.header-container {
  text-align: center;
}


.plans-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.side-card {
  padding: 1em 1.5em;
  border: 0.1px solid rgb(206, 192, 192);
  background-color: white;
  border-radius: 1em;
  color: hsl(232, 13%, 33%);
}

.main-card {
  background-color: hsl(234, 29%, 64%);
  padding: 2em 1.5em;
  border: 0.1px solid rgb(206, 192, 192);
  border-radius: 1em;
  color: white;
}

.price-container {
  padding: 1em 0em;
  font-size: 25px;
}

.doller {
  display: inline;
}

.price {
  display: inline;
}


.side-plan-button {
  background-color: hsl(235, 30%, 65%);
  color: white;
  font-weight: 700;
  padding: 0.8em 5em;
  margin: 1em 1em;
  border-radius: 0.5em;
}

.main-plan-button {
  background-color: hsl(240, 78%, 98%);
  color: hsl(234, 62%, 63%);
  font-weight: 700;
  padding: 0.8em 5em;
  margin: 1em 1em;
  border-radius: 0.5em;
}

.divider {
  color: rgb(204, 195, 195);
}
